@model Diploma.WebApi.Models.House.EditHouseDto

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-container container-fluid" style="margin-top:3%">
    <h3 class="text-center">Редактирование дома</h3>
    
    <form asp-action="EditHouse" enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Floors, "Количество этажей")
                @Html.TextBoxFor(m => m.Floors, "", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Floors, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.Size, "Размерность дома")
                @Html.TextBoxFor(m => m.Size, "", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Size, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.Square, "Площадь дома")
                @Html.TextBoxFor(m => m.Square, "", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Square, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Desciption, "Описание дома")
                @Html.TextBoxFor(m => m.Desciption, "", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Desciption, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.Name, "Название дома")
                @Html.TextBoxFor(m => m.Name, "", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.Preview, "Превью дома")
                <input asp-for="Preview" type="file" accept="image/*" class="form-control" />
                @Html.ValidationMessageFor(m => m.Preview, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.LabelFor(m => m.Photos, "Фотографии дома")
                <input asp-for="Photos" type="file" multiple accept="image/*" class="form-control" />
                @Html.ValidationMessageFor(m => m.Photos, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary mt-4">Добавить дом</button>
        </div>
    
    </form>
</div>