@model Diploma.Application.CQRS.Queries.Houses.GetHouseListQuery.HouseListVm
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-container container-fluid" style="margin-top:3%">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Превью дома</th>
                <th scope="col">Название дома</th>
                <th scope="col">Описание дома</th>
                <th scope="col">Размер дома</th>
                <th scope="col">Площадь дома</th>
                <th scope="col">Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var house in Model.Houses){
            <tr>
                <td scope="row">
                    <img src="data:image/png;base64, @house.Preview" width="200px" height="200px" />
                </td>
                <td>
                    @house.Name
                </td>
                <td>
                    @house.Desciption...
                </td>
                <td>
                    @house.Size
                </td>
                <td>
                    @house.Square
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@house.Id" class="btn"><i class="fa fa-pencil-alt"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>