@model Diploma.Application.CQRS.Queries.BathsAndHouses.BathsAndHousesVm;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero" style="color:white">
    <h1> ПРОЕКТ ГРУПП 116</h1>
</div>
<div class="app-container container-fluid">
    <p>
        Добро пожаловать в компанию "Проект групп 116". Мы - Ваш надежный партнер в строительстве домов. Мы являемся экспертами в области проектирования, строительства и ремонта жилых и коммерческих объектов, и мы гордимся тем, что уже на протяжении многих лет предоставляем качественные услуги нашим клиентам.
    </p>
    <p>
        Наша компания состоит из профессионалов, которые имеют богатый опыт в строительстве и ремонте домов. Мы предлагаем свои услуги по проектированию и строительству жилых домов, дач, коттеджей, таунхаусов и других объектов, с использованием передовых технологий и материалов.
    </p>
    <p>
        Мы уделяем особое внимание каждому клиенту, работая с ним в тесном сотрудничестве на всех этапах проекта, начиная от проектирования до финальной отделки. Мы гарантируем, что каждый наш проект будет выполнен в соответствии с Вашими требованиями и желаниями.
    </p>
    <p>
        Мы предлагаем полный спектр услуг по строительству домов, начиная от проектирования до финальной отделки, включая установку отопительных систем, сантехники, электрики и мебели. Мы также предоставляем услуги по ремонту и реставрации домов, а также внутренней и внешней отделки.
    </p>
    <p>
        Компания "Проект групп 116" является лидером в своей области благодаря нашей компетентности и качеству наших услуг. Мы гарантируем, что Ваш дом будет построен в срок и с высочайшим качеством, которое соответствует Вашим ожиданиям и бюджету. Обратитесь к нам и мы поможем Вам создать свой мечтательный дом.
    </p>
   
</div>

<div style="background-color:lightgray" class="mb-4">
    <div class="app-container container-fluid">
        <div class="row">
            <div class="col-md-3 mt-2">
                <img src="~/images/badge.png" width="50%" height="80%"/>
            </div>
            <div class="col-md-3 mt-2">
                <img src="~/images/shield.png" width="50%" height="80%" />
            </div>
            <div class="col-md-3 mt-2">
                <img src="~/images/video-camera.png" width="50%" height="80%" />
            </div>
            <div class="col-md-3 mt-2">
                <img src="~/images/like.png" width="50%" height="80%" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mt-2">
                <h2>Опыт работы на рынке более 10 лет</h2>
            </div>
            <div class="col-md-3 mt-2">
                <h2>Гарантия качества</h2>
            </div>
            <div class="col-md-3 mt-2">
                <h2>Следим за порядком строительства</h2>
            </div>
            <div class="col-md-3 mt-2">
                <h2>Более 90% положительных отзывов</h2>
            </div>
        </div>
    </div>
</div>
<div class="app-container container-fluid">
    <div class="mb-4" style="text-align:center">
        <h1>Наш каталог проектов</h1>
    </div>
    <div class="image-grid">
        @foreach (var building in Model.BathsAndHouses)
        {
            @if( building.BuildingType == "House" )
            {
                <a class="image-container" asp-controller="house" asp-action="details" asp-route-id="@building.Id" style="text-decoration:none; color:black;">
                <img src="data:image/png;base64, @building.Preview" loading="lazy" />
                <div class="info-box-right">
                    @building.Name
                </div>
                <div class="info-box-description">
                    @building.Desciption...
                </div>
                <div class="info-box-bottom">
                    <i class="fa-solid fa-arrow-up-right-dots"></i> @building.Floors этажей <i class="fa-solid fa-maximize"></i> Размер @building.Size <i class="fa-regular fa-square"></i> @building.Square м²
                </div>
                </a>
            }
            else
            {
            <a class="image-container" asp-controller="bath" asp-action="details" asp-route-id="@building.Id" style="text-decoration:none; color:black;">
                <img src="data:image/png;base64, @building.Preview" />
                <div class="info-box-right">
                    @building.Name
                </div>
                <div class="info-box-description">
                    @building.Desciption
                </div>
                <div class="info-box-bottom">
                    <i class="fa-solid fa-arrow-up-right-dots"></i> @building.Floors этажей <i class="fa-solid fa-maximize"></i> Размер @building.Size <i class="fa-regular fa-square"></i> @building.Square м²
                </div>
                </a>                
            }
        }
    </div>
</div>
<script type="text/javascript">
    //$(document).ready(function () {
    //    $(window).on('scroll', function () {
    //        if ($(window).scrollTop() < 1000) {
    //            $('.hero').css('background-size', 100 + parseInt($(window).scrollTop() / 5) + '%');
    //            $('.hero h1').css('top', 50 + ($(window).scrollTop() * .1) + '%');
    //            $('.hero h1').css('opacity', 1 - ($(window).scrollTop() * .003));
    //        }

    //        if ($(window).scrollTop() >= $('.content-wrapper').offset().top - 300) {
    //            $('.nav-bg').removeClass('bg-hidden');
    //            $('.nav-bg').addClass('bg-visible');
    //        } else {
    //            $('.nav-bg').removeClass('bg-visible');
    //            $('.nav-bg').addClass('bg-hidden');
    //        }
    //    });
    //});
</script>