@model Diploma.Application.CQRS.Queries.BathsAndHouses.BathsAndHousesVm;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero" style="color:white">
    <h1> Элитстрой</h1>
</div>
<div class="app-container container-fluid">
    <p>
        Добро пожаловать в компанию "Элитстрой" Мы - Ваш надежный партнер в строительстве домов. Мы являемся экспертами в области проектирования, строительства и ремонта жилых и коммерческих объектов, и мы гордимся тем, что уже на протяжении многих лет предоставляем качественные услуги нашим клиентам.
    </p>
    <p>
        Наша компания состоит из профессионалов, которые имеют богатый опыт в строительстве и ремонте домов. Мы предлагаем свои услуги по проектированию и строительству жилых домов, дач, коттеджей, таунхаусов и других объектов, с использованием передовых технологий и материалов.
    </p>
    <p>
        Мы уделяем особое внимание каждому клиенту, работая с ним в тесном сотрудничестве на всех этапах проекта, начиная от проектирования до финальной отделки. Мы гарантируем, что каждый наш проект будет выполнен в соответствии с Вашими требованиями и желаниями.
    </p>
    <p>
        Мы предлагаем полный спектр услуг по строительству домов, начиная от проектирования до финальной отделки, включая установку отопительных систем, сантехники, электрики и мебели. Мы также предоставляем услуги по ремонту и реставрации домов, а также внутренней и внешней отделки.
    </p>
    <p>
        Компания "Элитстрой" является лидером в своей области благодаря нашей компетентности и качеству наших услуг. Мы гарантируем, что Ваш дом будет построен в срок и с высочайшим качеством, которое соответствует Вашим ожиданиям и бюджету. Обратитесь к нам и мы поможем Вам создать свой мечтательный дом.
    </p>

</div>

<table class="table app-container container-fluid">
    <thead>
        <tr>
            <th class="px-4"><img src="~/images/badge.png" width="50%" /></th>
            <th class="px-4">
                <img src="~/images/shield.png" width="50%" />
            </th>
            <th class="px-4">
                <img src="~/images/video-camera.png" style="max-width:40%" />
            </th>
            <th class="px-4">
                <img src="~/images/like.png" style="max-width:40%" />
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Опыт работы на рынке более 10 лет
            </th>
            <th>
                Гарантия качества
            </th>
            <th>
                Следим за порядком строительства
            </th>
            <th>
                Более 90% положительных отзывов
            </th>
        </tr>
    </tbody>
</table>
<div class="app-container container-fluid">
    <div class="mb-4" style="text-align:center">
        <h1>Наш каталог проектов</h1>
    </div>
    <div class="image-grid">
        @foreach (var building in Model.BathsAndHouses)
        {
            @if (building.BuildingType == "House")
            {
                <a class="image-container" asp-controller="house" asp-action="details" asp-route-id="@building.Id" style="text-decoration:none; color:black;">
                    <img src="data:image/png;base64, @building.Preview" />
                    <div class="info-box-right">
                        @building.Name
                    </div>
                    <div class="info-box-description">
                        @building.Desciption...
                    </div>
                    <div class="info-box-bottom">
                        <i class="fa-solid fa-arrow-up-right-dots"></i> @building.Floors этажей <i class="fa-solid fa-maximize"></i> Размер @building.Size <i class="fa-regular fa-square"></i> @building.Square м²
                    </div>
                </a>
            }
            else
            {
                <a class="image-container" asp-controller="bath" asp-action="details" asp-route-id="@building.Id" style="text-decoration:none; color:black;">
                    <img src="data:image/png;base64, @building.Preview" />
                    <div class="info-box-right">
                        @building.Name
                    </div>
                    <div class="info-box-description">
                        @building.Desciption
                    </div>
                    <div class="info-box-bottom">
                        <i class="fa-solid fa-arrow-up-right-dots"></i> @building.Floors этажей <i class="fa-solid fa-maximize"></i> Размер @building.Size <i class="fa-regular fa-square"></i> @building.Square м²
                    </div>
                </a>
            }
        }
    </div>

    <div class="mb-4 text-center">
        <h1>Отзывы</h1>
    </div>
    @foreach (var review in Model.Reviews)
    {
        <div class="review">
            <div class="rating">
                @for (int i = 1; i <= 5; i++)
                {
                    <span class="star @(review.Rating >= i ? "selected" : "")">&#9733;</span>
                }
            </div>
            <p>@review.Text</p>
        </div>
    }

    <form method="post" asp-action="CreateReview">
        <div class="rating">
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>
        </div>

        <input type="hidden" id="rating" name="rating" value="0" />

        <div>
            <label for="text">Ваш отзыв:</label>
            <textarea class="form-control" id="text" name="text"></textarea>
        </div>

        <button type="submit">Отправить</button>
    </form>


</div>
<script type="text/javascript">
    //$(document).ready(function () {
    //    $(window).on('scroll', function () {
    //        if ($(window).scrollTop() < 1000) {
    //            $('.hero').css('background-size', 100 + parseInt($(window).scrollTop() / 5) + '%');
    //            $('.hero h1').css('top', 50 + ($(window).scrollTop() * .1) + '%');
    //            $('.hero h1').css('opacity', 1 - ($(window).scrollTop() * .003));
    //        }

    //        if ($(window).scrollTop() >= $('.content-wrapper').offset().top - 300) {
    //            $('.nav-bg').removeClass('bg-hidden');
    //            $('.nav-bg').addClass('bg-visible');
    //        } else {
    //            $('.nav-bg').removeClass('bg-visible');
    //            $('.nav-bg').addClass('bg-hidden');
    //        }
    //    });
    //});
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const stars = document.querySelectorAll(".star");

        stars.forEach(function (star) {
            star.addEventListener("mouseover", function () {
                const ratingValue = this.getAttribute("data-value");

                stars.forEach(function (s) {
                    const value = s.getAttribute("data-value");
                    s.classList.toggle("hovered", value <= ratingValue);
                });
            });

            star.addEventListener("mouseout", function () {
                stars.forEach(function (s) {
                    s.classList.remove("hovered");
                });
            });

            star.addEventListener("click", function () {
                const ratingValue = this.getAttribute("data-value");
                document.getElementById("rating").value = ratingValue;

                // Отображение выбранного рейтинга на звездах
                stars.forEach(function (s) {
                    const value = s.getAttribute("data-value");
                    s.classList.toggle("selected", value <= ratingValue);
                });
            });
        });
    });
</script>