@model Application.CQRS.Queries.Buildings.GetBuildingDetailsQuery.BuildingDetailsVm
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = $"Здание {Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<script src="~/js/input-mask.js"></script>

<style>
    .swiper .swiper-slide>img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
</style>
<input type="hidden" id="buildingId" value="@Model.Id" />
<div class="app-container container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="swiper mySwiper" style="--swiper-navigation-color: green;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="data:image/png;base64, @Model.Preview" /></div>
                    @foreach (var item in Model.Photos)
                    {
                        <div class="swiper-slide"><img src="data:image/png;base64, @item" loading="lazy"
                                style="height:50vh;" /></div>
                    }
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="data:image/png;base64, @Model.Preview" loading="lazy" /></div>
                    @foreach (var item in Model.Photos)
                    {
                        <div class="swiper-slide"><img src="data:image/png;base64, @item" loading="lazy"
                                style="height:85px" /></div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1>@Model.Name</h1>
            <table class="table">
                <tr>
                    <td>
                        Площадь:
                    </td>
                    <td>
                        @Model.Square м²
                    </td>
                </tr>
                <tr>
                    <td>
                        Количество этажей:
                    </td>
                    <td>
                        @Model.Floors
                    </td>
                </tr>
                <tr>
                    <td>
                        Размерность:
                    </td>
                    <td>
                        @Model.Size
                    </td>
                </tr>
            </table>
            <button type="button" class="btn btn-success w-100" data-bs-toggle="modal"
                data-bs-target="#makeOrder">Оставить заявку</button>
        </div>
    </div>
    <hr />
    <section>
        <div class="text-center mt-4">
            <h1>Комментарии</h1>
        </div>
        <div class="d-flex justify-content-center row mt-4">
            <div class="col-md-6 d-flex flex-column comment-section">
                @foreach (var item in Model.Comments)
                {
                    <div class="card mt-2" style="background: inherit;">
                        <div class="card-header d-flex flex-column justify-content-start ml-2">
                            <span class="d-block font-weight-bold name">
                                @item.Name
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form asp-controller="Comment" asp-action="DeleteComment">
                                        <div class="text-end">
                                            <input type="hidden" name="Id" value="@item.Id" />
                                            <button type="submit" class="btn btn-delete" title="Удалить комментарий"><i
                                                    class="fa-solid fa-trash"></i></button>
                                        </div>
                                    </form>
                                }
                            </span>
                        </div>
                        <div class="mt-2 card-body">
                            <p class="comment-text">@item.Content</p>
                        </div>
                    </div>
                }
                @if (Model.Comments.Count < 1)
                {
                    <h4>Будьте первым, кто оставит комментарий!</h4>
                }
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12">
                <form asp-controller="Comment" asp-action="CreateComment">
                    <input type="hidden" name="BuildingId" value="@Model.Id" />
                    <input type="hidden" name="BuildingType" id="buildingType" value="0" />
                    <div class="form-group">
                        <h4>Оставьте комментарий</h4>
                        <label for="message">Текст</label>
                        <textarea name="Content" msg cols="30" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="text" name="Name" id="fullname" class="form-control" maxlength="15" data-val="true"
                            data-val-required="Не указано имя"
                            data-val-regex="Можно использовать только русскую латиницу"
                            data-val-regex-pattern="^[а-яА-ЯЁё]*" autocomplete="off">
                        <span class="text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Email">Почта</label>
                        <input type="text" name="Email" id="email" class="form-control" data-val="true" required
                            data-val-regex="Электронная почта введена не верно"
                            data-val-regex-pattern="^[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*@@[a-zA-Z0-9]+\.[a-zA-Z0-9]+$"
                            data-val-required="Не указана почта" autocomplete="off">
                        <span class="text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group text-end">
                        <button type="submit" class="btn btn-success mt-2">Оставить комментарий</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

@{
    string domainName = Context.Request.Scheme + "://" + Context.Request.Host;
}
<div class="modal fade" id="makeOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="@domainName/Order/CreateOrder" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="rowId" value="@Model.Id" />
                        <input type="hidden" name="rowType" id="buildingType" value="0" />
                        <label class="control-label" for="name">Ваше имя</label>
                        <input class="form-control" type="text" name="name" for="name" id="orderName" maxlength="15"
                            data-val="true" data-val-required="Не указано имя"
                            data-val-regex="Можно использовать только русскую латиницу"
                            data-val-regex-pattern="^[а-яА-ЯЁё]*" autocomplete="off" />
                        <span class="text-danger" data-valmsg-for="name" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="number">Номер телефона</label>
                        <input class="form-control" type="text" name="phone" for="amount" id="orderNumber"
                            data-val="true" data-val-required="Не указан номер телефона" />
                        <span class="text-danger" data-valmsg-for="phone" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">Электронная почта</label>
                        <input class="form-control" type="text" name="email" autocomplete="off" data-val="true"
                            data-val-regex="Электронная почта введена не верно"
                            data-val-regex-pattern="^[a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" id="Email"
                            data-val-required="Не указана электронная почта" />
                        <span class="text-danger" data-valmsg-for="email" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Оставить заявку на звонок</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper = new Swiper(".mySwiper", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper2,
        },
        autoplay: {
            delay: 3500,
            disableOnInteraction: false,
        },
        loop: true,
        spaceBetween: 10,
    });
    $("#orderNumber").mask("+7 (999) 999-99-99", { placeholder: "+7 (123) 456-78-90" })
</script>