@model Diploma.Application.CQRS.Queries.Products.GetProductDetailsQuery.ProductDetailsVm
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Удаление товара";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-container container-fluid">
    <h1 style="margin-top:5%;">Вы действительно хотите удалить товар?</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Название: @Model.Name</h5>
                    <p class="card-text">Описание: @Model.Description</p>
                    <p class="card-text">Цена: @Model.Price</p>
                    <img src="data:image/png;base64, @Model.Preview" class="card-img-top" alt="Product Image" />
                </div>
                <form asp-action="DeleteProduct" method="post">
                    @Html.HiddenFor(x => x.Id)
                    <button type="submit" class="btn btn-danger w-100">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>