@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model IPagedList<Diploma.Domain.Building>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Каталог строений";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-center">Каталог строений</h1>

    <!-- Сортировка по имени -->
    <div class="d-flex align-items-center mb-3">
        <label class="me-2">Сортировка по имени:</label>
        <a href="@Url.Action("Catalog", new { sortBy = ViewBag.SortBy == "name" ? "name_desc" : "name" })" class="btn btn-link btn-sort">
            <i class="fas @((ViewBag.SortBy == "name" || ViewBag.SortBy == "name_desc") && ViewBag.SortByDescending ? "fa-sort-down" : "fa-sort-up")"></i>
        </a>
    </div>

    <!-- Сортировка по этажам -->
    <div class="d-flex align-items-center mb-3">
        <label class="me-2">Сортировка по этажам:</label>
        <a href="@Url.Action("Catalog", new { sortBy = ViewBag.SortBy == "floors" ? "floors_desc" : "floors" })" class="btn btn-link btn-sort">
            <i class="fas @((ViewBag.SortBy == "floors" || ViewBag.SortBy == "floors_desc") && ViewBag.SortByDescending ? "fa-sort-down" : "fa-sort-up")"></i>
        </a>
    </div>
    <!-- Поиск -->
    <div class="mt-3">
        <form action="@Url.Action("Catalog")" method="get" class="form-inline">
            <div class="form-group mb-2">
                <input type="text" name="search" class="form-control" placeholder="Поиск" value="@ViewBag.SearchTerm">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Поиск</button>
        </form>
    </div>
    <!-- Список зданий -->
    <div class="row">
        @foreach (var building in Model)
        {
            <div class="col-sm-4 mb-3">
                <a asp-controller="building" asp-action="details" asp-route-id="@building.Id" style="text-decoration:none; color:black;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@building.Name</h5>
                            <p class="card-img"><img src="data:image/png;base64, @building.Preview" loading="lazy" style="width:100%; height:50%;" /> </p>
                            <p class="card-text">@building.Desciption...</p>
                            <p class="card-text">Количество этажей: @building.Floors</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="mt-3">
        @Html.PagedListPager(Model, page => Url.Action("Catalog", new { page, sortBy = ViewBag.SortBy }))
    </div>
</div>