@model Diploma.WebApi.Models.Building.EditBuildingDto

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-container container-fluid" style="margin-top:3%">
    <h3 class="text-center">Редактирование строения</h3>

    <form asp-action="EditBuilding" enctype="multipart/form-data" method="post">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.GroupTypeId, new {@id = "GroupTypeIds"})
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Floors, "Количество этажей")
                @Html.TextBoxFor(m => m.Floors, "", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Floors, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.Size, "Размерность строения")
                @Html.TextBoxFor(m => m.Size, "", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Size, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.Square, "Площадь строения")
                @Html.TextBoxFor(m => m.Square, "", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Square, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="GroupTypeId" class="control-label">Тип группы</label>
                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Добавить группу
                    </button>
                    <select class="form-control" asp-for="GroupTypeId" id="Groups">
                    </select>
                    <span asp-validation-for="GroupTypeId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(m => m.Desciption, "Описание строения")
                @Html.TextBoxFor(m => m.Desciption, "", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Desciption, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.Name, "Название строения")
                @Html.TextBoxFor(m => m.Name, "", new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.Preview, "Превью строения")
                <input asp-for="Preview" type="file" accept="image/*" class="form-control" />
                @Html.ValidationMessageFor(m => m.Preview, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.LabelFor(m => m.Photos, "Фотографии строения")
                <input asp-for="Photos" type="file" multiple accept="image/*" class="form-control" />
                @Html.ValidationMessageFor(m => m.Photos, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary mt-4">Сохранить</button>
        </div>

    </form>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить группу</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <div class="row">
                            <label class="control-label">Название группы</label>
                            <input id="groupName" class="form-control" type="text" />
                        </div>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="createGroup()">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        appendGroupList();
    });
    function appendGroupList() {
        var groupTypeId = $('#GroupTypeIds').val();
        $.ajax({
            url: '/grouptype/GetGroups',
            type: "Get",
            success: function (data) {
                $("#Groups").empty();
                $.each(data.groupTypeList, function (i, item) {
                    if (groupTypeId == item.id) {
                        $('#Groups').append($('<option>', {
                            value: item.id,
                            text: item.name,
                            selected: ""
                        }));
                    }
                    else {
                        $('#Groups').append($('<option>', {
                            value: item.id,
                            text: item.name
                        }));
                    };
                })
            },
            error: function (xhr, status, error) {
                console.log(error)
            },
            complete: function () {
            }
        })
    };
    function createGroup() {
        var value = document.getElementById("groupName").value;
        $.ajax({
            url: '/grouptype/CreateGroupTypeAjax?name=' + value,
            type: "post",
            success: function (data) {
            },
            error: function (xhr, status, error) {
                console.log(error)
            },
            complete: function () {
                appendGroupList();
            }
        });
    };
</script>